<%= render 'partial/navbar' %>
<div class="container">
    <div class="col-md-3">
        <!-- vertical-navbar -->
        <%= render 'partial/verticalnavbar'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">
                    <span style="font-size:24px;">Set your price</span>
                </div>
            </div>

            <div class="panel-body">

                <%= form_for @listing do |f| %>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Price per night</label>
                          <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <%= f.text_field :price_pernight, placeholder: "Example: 100", class: "form-control", required: "true" %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="actions">
                        <%= f.submit "Save", class: "btn btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>